*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
/* footer====================================================== */

footer {
    background-color:#f0f2f3;
    padding: 96px 135px 0;
    
  }
  
  .footer .row {
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
    display: flex;
  }
  
  .footer .row .column {
    width: 21.6%;
  }
  .footer .row .column h2{
    color: #3795d5;
  }
  
  
  .footer .row .column:first-child {
    width: 35%;
  }
  
  .footer .desc {
    margin-top: 18px;
    max-width: 267px;
    color: #1d1702;
    font-size: 1.4rem;
    line-height: 1.86;
  }
  
  .footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
  }
  
  .footer .title {
    padding-bottom: 14px;
    padding-right: 48px;
    display: inline-block;
    border-bottom: 1px solid #59554b;
    color: #58a0d7;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
  }
  
  .footer .list {
    margin-top: 28px;
  }
  
  .footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #2e2403;
    font-size: 1.4rem;
    line-height: 1.86;
  }
  
  .footer .list li:last-child a {
    margin-bottom: 0;
  }
  
  .footer .list strong {
    color: #251f1f;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
  }
  
  .footer .copyright {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
  }